* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
}

body {
  background-color: rgb(59, 59, 59);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.cell-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 36px;
}

.cell {
  height: 400px;
  width: 400px;
}

img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}

a {
  transition: 1s;
}

a:hover {
  height: 420px;
  width: 420px;
}

p {
  position: relative;
  text-align: center;
  font-size: 1.2rem;
  bottom: 50.5px;
  width: 100%;
  padding: 12px;
  background-color: rgb(0, 0, 0, 0.8);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
