* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(37, 37, 37);
}

.title {
  font-size: 2.2rem;
  width: 45%;
  padding: clamp(2rem, 6vw, 4rem);
  transition: 0.8s;
}

.title:hover {
  font-size: 2.4rem;
}

.header-container {
  height: 100vh;
  background-image: url("./assets/code.jpg");
  background-size: cover;
}

#github-mark {
  object-fit: contain;
  width: 100px;
  height: 50px;
}

#nav-container-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 55%;
}

#nav-buttons-container {
  display: flex;
  flex: 1 1 0;
}

#unlinked-button {
  white-space: nowrap;
}

button {
  flex: 1 1 0;
  background-color: transparent;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  padding: 0.5em 1.8em;
  font-size: 1.1rem;
  font-weight: 700;
  transition: 1s;
}

button:hover {
  padding: 0.5em 2.4em;
}

.nav-container {
  display: flex;
  height: 100px;
  background-color: rgb(0, 0, 0, 0.7);
  justify-content: space-around;
  align-items: center;
}

.name {
  font-size: 4rem;
  padding: 0.4em 0.6em;
  background-color: rgb(0, 0, 0, 0.7);
  transition: 1.2s;
  border-radius: 4px;
}

.name:hover {
  font-size: 4.2rem;
}

.name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
}

#portfolio-title,
#about-title,
#unlinked-title {
  text-align: center;
  font-size: 2.6rem;
  padding: 1.5em 0.5em 1em 0.5em;
}

#unlinked-title {
  padding: 1.5em 0 0 0;
}

#portfolio-title {
  padding: 1.5em 0 0 0;
}

.about-text {
  display: flex;
  justify-content: center;
  line-height: 1.5;
  font-size: 1.2rem;
  padding: 0 4em 0 5em;
}

#about-title,
.about-container {
  background-color: rgb(37, 37, 37);
}

.about-container {
  padding-bottom: 24px;
}

.cell-container-container {
  background-image: linear-gradient(rgb(37, 37, 37), rgb(78, 78, 78));
  padding-bottom: 96px;
}

.cell-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 36px;
}

.cell {
  height: 400px;
  width: 400px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}

.used-technologies-container {
  padding: 48px 0 36px 48px;
}

.unlinked-container > ul {
  font-size: 1.2rem;
  line-height: 1.25;
  padding: 2em 0 0 5em;
}

.used-technologies-container > h3 {
  font-size: 1.8rem;
}

.used-technologies-container > ul {
  font-size: 1.1rem;
  line-height: 1.25;
  padding-left: 2em;
}

.cell {
  transition: 1s;
}

.cell:hover {
  height: 420px;
  width: 420px;
}

a > p {
  position: relative;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  bottom: 54px;
  width: 100%;
  padding: 12px;
  background-color: rgb(0, 0, 0, 0.8);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

a {
  text-decoration: none;
}

@media (max-width: 1048px) {
  .nav-container {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
  }

  .title {
    padding: 0.8em 0 0 0;
    text-align: center;
  }

  #nav-container-right {
    padding: 1em 0;
  }

  button {
    font-size: 0.6rem;
  }
}

@media (max-width: 704px) {
  .title {
    font-size: 1.8rem;
  }

  #github-mark {
    display: none;
  }
}

@media (max-width: 516px) {
  #nav-buttons-container {
    flex-direction: column;
  }

  .name {
    font-size: 2.6rem;
  }

  .name:hover {
    font-size: 3.2rem;
  }
}
